#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    width: 24rem;
    min-height: 100vh;

    background: url(../images/hd02.jpg)no-repeat center left/cover;
}

#header::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}


#header h1 {
    position: fixed;
    top: 8rem;
    left: 0.8rem;
    z-index: 999;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-color);
    font-family: "Noto Serif KR", serif;
}

@media(max-width:1440px) {
    #header {
        /*  */
        width: 16rem;
    }

    #header h1 {
        position: fixed;
        top: 1.6rem;
        left: 0.8rem;
        z-index: 999;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--white-color);
        font-family: "Noto Serif KR", serif;
    }
}


@media(max-width:768px) {

    #header {
        /*  */
        display: none;
    }
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 141rem;
    margin: 0 auto;
    background: var(--primary-color);

}

.intro .headline {
    padding: 24px 0;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    width: 100%;
}

.intro .headline h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
    color: var(--secondary-color);
    font-family: "Noto Serif KR", serif;
    line-height: 1.5;
    text-transform: uppercase;
}



.intro .intro_text strong {
    display: block;
    text-align: center;
    padding: 32px 0;
    font-size: 7.2rem;

    white-space: nowrap;
    letter-spacing: 8px;
    color: var(--secondary-color);
    font-family: "Noto Serif KR", serif;

}

.intro .inner {
    display: flex;
    gap: 40px;
    margin: 0 32px;


}

.intro .left {

    flex: 2;

}

.intro .left .txt {
    padding: 40px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}

.intro .left .txt p {

    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
    color: var(--secondary-color);

}

.intro .left .lf_tt {
    margin-top: 56px;
    font-size: 1.2rem;
    line-height: 1.5;


}


.intro .right {
    flex: 1;

}

.intro .right .cs_box {
    margin-bottom: 2.4rem;
    padding: 40px 16px;
    background: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}

.intro .right .cs_box p {
    color: var(--white-color);
}

.intro .right strong {
    display: block;
    padding: 80px 0;
    text-align: center;
    font-size: 4rem;
    white-space: nowrap;
    letter-spacing: 1rem;
    font-family: "Noto Serif KR", serif;
    color: var(--secondary-color);
    border: 1px solid #333;
}

.intro span {
    position: relative;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.intro .scd {
    position: absolute;
    bottom: 120px;
    left: 80px;
    z-index: 1000;
}

.intro .scd span {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.intro .inner .scd span ::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 500;
    transform: translate(0, -4px);
    width: 32px;
    height: 32px;
    -webkit-clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    background: #999;
    opacity: 20%;
    animation: downdown 2s 1s infinite;
}

.intro .inner .scd span ::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 500;
    transform: translate(0, -4px);
    width: 32px;
    height: 32px;
    -webkit-clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    background: #999;
    opacity: 50%;
    animation: downdown 2s 1.3s infinite;
}

.intro .inner .scd::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    transform: translate(0, -4px);
    width: 32px;
    height: 32px;
    -webkit-clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    clip-path: polygon(50% 85%, 100% 50%, 100% 65%, 50% 100%, 0 65%, 1% 50%);
    background: #999;
    opacity: 80%;
    animation: downdown 2s 1.6s infinite;
}

.intro .inner::before {
    content: "";
    position: absolute;
    left: 80px;
    top: 50%;
    z-index: -1;
    transform: translate(0, -50%);
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, rgba(102, 102, 102, 0.1) 0%, rgba(242, 242, 242, 0.7) 100%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 10px rgba(153, 153, 153, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

@keyframes downdown {
    0% {
        transform: translate(0, -4px);
    }

    60% {
        transform: translate(0, 0);
        opacity: 100%;
    }

    100% {
        opacity: 20%;
    }
}

@keyframes downdown2 {
    0% {
        transform: translate(50%, -4px);
    }

    60% {
        transform: translate(50%, 0);
        opacity: 100%;
    }

    100% {
        opacity: 20%;
    }
}


@media(max-width:768px) {
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 141rem;
        margin: 0 auto;
        background: var(--primary-color);
    }

    .intro .headline {
        padding: 24px 0;
        border-top: 3px solid #333;
        border-bottom: 3px solid #333;
        width: 100%;
    }

    .intro .headline h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6.4rem;
        font-weight: 700;
        letter-spacing: 2px;
        white-space: nowrap;
        color: var(--secondary-color);
        font-family: "Noto Serif KR", serif;
        line-height: 1.5;
        text-transform: uppercase;
        /*  */
        font-size: 3.2rem;
    }



    .intro .intro_text strong {
        display: block;
        text-align: center;
        padding: 32px 0;
        font-size: 7.2rem;

        white-space: nowrap;
        letter-spacing: 8px;
        color: var(--secondary-color);
        font-family: "Noto Serif KR", serif;
        /*  */
        font-size: 2.4rem;
    }

    .intro .inner {
        display: flex;
        gap: 40px;
        margin: 0 32px;

        flex-direction: column;
    }

    .intro .left {

        flex: 2;

    }

    .intro .left .txt {
        padding: 40px 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;

    }

    .intro .left .txt p {

        text-align: center;
        font-size: 2rem;
        line-height: 1.6;
        color: var(--secondary-color);

        /*  */

        font-size: 1.6rem;

    }

    .intro .left .lf_tt {
        margin-top: 56px;
        font-size: 1.2rem;
        line-height: 1.5;
        /*  */
        display: none;
    }


    .intro .right {
        flex: 1;
    }

    .intro .right .cs_box {
        margin-bottom: 2.4rem;
        padding: 40px 16px;
        background: #333;
        font-size: 1.2rem;
        line-height: 1.5;
        /*  */
        padding: 16px 16px;

    }

    .intro .right .cs_box p {
        color: var(--white-color);

    }

    .intro .right strong {
        display: block;
        padding: 80px 0;
        text-align: center;
        font-size: 4rem;
        white-space: nowrap;
        letter-spacing: 1rem;
        font-family: "Noto Serif KR", serif;
        color: var(--secondary-color);
        border: 1px solid #333;

        /*  */
        padding: 40px 16px;
    }

    .intro span {
        margin-top: 24px;
        display: block;
        text-align: center;
    }
}

.portfolio {
    position: relative;
    max-width: 141rem;
    margin: 0 auto;
    overflow: hidden;
    background: var(--primary-color);


}


.portfolio .flx {
    gap: 4rem;
    margin: 0 32px;


}

.portfolio .desc {
    transform: translate(0, 4rem);
    opacity: 0;



}

.portfolio.on .desc {
    transform: translate(0, 0);
    opacity: 1;

    transition: 0.4s;
}

.portfolio .mokup {
    transform: translate(0, 4rem);
    opacity: 0;


}

.portfolio.on .mokup {
    transform: translate(0, 0);
    opacity: 1;

    transition: 0.4s 0.4s;
}


.portfolio h2 {
    text-align: center;
    margin-bottom: 8rem;
    font-size: 3.2rem;
    font-weight: 600;
    padding: 4rem 0;
    color: var(--secondary-color);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}



.portfolio .desc strong {
    display: block;
    margin-bottom: 1.6rem;
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-weight: 600;
    padding: 2.4rem 0;
    text-transform: uppercase;
    letter-spacing: 8px;

    border-bottom: 1px solid #333;
}


.portfolio .desc span {
    display: block;
    color: #fff;

}

.portfolio .desc ul>li {
    display: grid;
    grid-template-columns: 8rem 1fr;
    line-height: 4rem;
    border-bottom: 1px solid var(--line-color);

}

.portfolio .desc ul>li em {
    font-weight: 600;
}

.portfolio .desc ul>li p {
    line-height: 4rem;
}

.portfolio .desc ul>li .color {
    display: flex;
    align-items: center;
    gap: 8px;
}


.portfolio .desc ul>li .color span {
    font-size: 0;
    width: 16px;
    height: 16px;

    background: #333;
    border-radius: 50%;
}

.portfolio .desc .txt_s {
    margin-top: 1.6rem;
}

.portfolio .mokup .case {
    height: 32rem;
    background: var(--secondary-color);
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

.portfolio .mokup .case img {

    transition: 2s;
}

.portfolio .mokup .case:hover img {
    transform: translate(0, calc(-100% + 40rem));

}



.portfolio .mokup .lnk {
    display: flex;
    gap: 8px;
    margin-top: 4rem;
}

@media(max-width:768px) {

    .portfolio .flx {
        gap: 4rem;
        margin: 0 32px;
        /*  */
        flex-direction: column;
        gap: 2rem;
    }

}


.portfolio02 .flx .mokup {
    order: -1;
}

.portfolio04 .flx .mokup {
    order: -1;
}

.training {
    max-width: 141rem;
    margin: 0 auto;

    background: var(--primary-color);
}

.training .title {
    margin-bottom: 8rem;
    text-align: center;
}

.training .title h2 {
    padding: 16px 0;
    font-size: 5.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.training .title p {
    margin-top: 1.6rem;
    font-size: 16px;
    font-weight: 400;
}

.training .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 16px;
    gap: 4rem;
}



.training .inner .itm .tr_case {
    height: 20rem;
    background: var(--secondary-color);
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

.training .inner .itm .tr_case img {
    transition: 2s;
}

.training .inner .itm .tr_case:hover img {
    transform: translate(0, calc(-100% + 20rem));

}

.training .inner .itm .txt {
    margin-top: 1.6rem;


}

.training .inner .itm .txt strong {
    display: block;
    font-size: 2.4rem;
    text-align: center;
}

.training .inner .itm .txt p {
    margin-top: 0.8rem;
    text-align: center;
}

.profile {
    position: relative;
    max-width: 141rem;
    margin: 0 auto;
    background: var(--primary-color);
}


.profile .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    gap: 56px;
}


.profile .title {
    text-align: center;
    border-bottom: 2px solid #333;

}

.profile .title h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 0;
    font-size: 5.6rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--secondary-color);

    animation: h2 10s infinite linear;
}

.profile .title h2:nth-child(even) {
    color: #000;
}

@keyframes h2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}




.profile .itm {}

.profile .itm figure {
    margin-top: 24px;
    width: 240px;
    height: 240px;
    border: 1px solid #000;
}

.profile .itm figure img {
    width: 240px;
    height: 240px;
}

.profile .itm strong {
    display: block;
    margin-top: 3.2rem;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--secondary-color);
}


.profile .itm ul>li {
    display: grid;
    margin-top: 2.4rem;
    grid-template-columns: 8rem 1fr;
    line-height: 4rem;
    border-bottom: 1px solid var(--line-color);
    gap: 4rem;
}

.profile .itm ul>li em {
    font-weight: 700;
    white-space: nowrap;
}

.profile .itm ul>li p {
    line-height: 4rem;
}


.profile .right .itm strong {}

.profile .right .itm p {
    margin-top: 16px;
}

@media(max-width:768px) {

    .profile {
        position: relative;
        max-width: 141rem;
        margin: 0 auto;
        background: var(--primary-color);
    }


    .profile .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16px;
        gap: 40px;

        /*  */
        flex-direction: column;
    }


    .profile .title {
        text-align: center;
        border-bottom: 2px solid #333;

    }

    .profile .title h2 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px 0;
        font-size: 5.6rem;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        color: var(--secondary-color);

        animation: h2 10s infinite linear;

        /*  */
        top: 0;
    }

    .profile .title h2:nth-child(even) {
        color: #000;
    }

    @keyframes h2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }

    .profile .left .itm {}

    .profile .left .itm figure {
        margin-top: 24px;
        width: 240px;
        height: 240px;
        border: 1px solid #000;
    }

    .profile .left .itm strong {
        display: block;
        margin-top: 3.2rem;
        font-size: 3.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: var(--secondary-color);
    }


    .profile .itm ul>li {
        display: grid;
        margin-top: 2.4rem;
        grid-template-columns: 8rem 1fr;
        line-height: 4rem;
        border-bottom: 1px solid var(--line-color);
        gap: 4rem;
    }

    .profile .itm ul>li em {
        font-weight: 700;
        white-space: nowrap;
    }

    .profile .itm ul>li p {
        line-height: 4rem;
    }

}



#footer {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;

    width: 24rem;
    min-height: 100vh;

    background: url(../images/hd01.jpg)no-repeat center right/cover;

}

#footer::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}



#footer .cover_btn {
    position: fixed;
    top: 8rem;
    right: 0.8rem;
    z-index: 999;

    width: 4rem;
    height: 4rem;
    background: var(--secondary-color);
}

#footer .cover_btn.on {
    background: var(--secondary-color);
}



#footer .gnb {
    position: fixed;
    top: 20%;
    right: 0.8rem;
    z-index: 997;

}

#footer .gnb>ul>li~li {
    margin-top: 4px;
}

#footer .gnb>ul>li>a {
    position: relative;
    display: block;
    line-height: 2.4rem;

    font-size: 0;
    width: 7rem;


}

#footer .gnb>ul>li>a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: calc(100% - 2rem);
    height: 1px;
    background: #fff;

    transition: width 0.4s;
}

#footer .gnb>ul>li.on>a::before {
    width: 100%;
}


#footer .cover_btn::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../lib/icon/feather/menu.svg) no-repeat center center/24px;
    filter: invert();
}


#footer .cover_btn.on::before {
    background: url(../lib/icon/feather/x.svg) no-repeat center center/24px;
    filter: invert();
}

#footer .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 8rem;
    inset: 0 0 0 0;
    background: var(--primary-color);
    z-index: 998;
    font-family: "Noto Serif KR", serif;
    display: none;

}

#footer .cover.on {
    display: flex;

}

#footer .cover ul>li>a {
    display: flex;
    align-items: center;
    gap: 16px;

    width: calc(100% + 4rem);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.5;
}

#footer .cover ul>li>a::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--secondary-color);
}

#footer .ft_i {
    position: fixed;
    bottom: 20rem;
    left: 0.8rem;
    z-index: 997;
    color: var(--white-color);
    line-height: 1.6;
    text-shadow: 0 0 4px #000;
}

#footer .ft_i strong {
    font-size: 2rem;
    font-weight: 600;

}

#footer .ft_i ul>li {
    margin-top: 0.8rem;
    font-size: 1.5rem;
}


#footer .ft_tr {
    position: fixed;
    bottom: 20rem;
    right: 14rem;
    z-index: 997;
    color: var(--white-color);
    line-height: 1.6;
    text-shadow: 0 0 4px #000;
}

#footer .ft_tr strong {
    font-size: 2rem;
}

#footer .ft_tr p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

#footer .ft_tr ul>li {
    margin-top: 0.8rem;
    font-size: 1.5rem;
}

#footer address {
    position: fixed;
    bottom: 8rem;
    left: 8rem;
    z-index: 999;

    font-size: 1.2rem;
    color: var(--white-color);
    font-family: "Noto Serif KR", serif;
}

#footer .to_top {
    position: fixed;
    bottom: 8rem;
    right: 8rem;
    z-index: 997;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 4rem;
    height: 4rem;
    background: var(--point-color);

    display: none;
}

#footer .to_top.on {
    display: flex;
}

@media(max-width:1440px) {

    #footer {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;

        width: 16rem;
        min-height: 100vh;

        background: url(../images/hd01.jpg)no-repeat center right/cover;

        /*  */


    }


    #footer .cover_btn {
        position: fixed;
        top: 8rem;
        right: 0.8rem;
        z-index: 999;

        width: 4rem;
        height: 4rem;
        background: var(--secondary-color);
    }

    #footer .cover_btn.on {
        background: var(--secondary-color);
    }



    #footer .gnb {
        position: fixed;
        top: 20%;
        right: 0.8rem;
        z-index: 997;

    }

    #footer .gnb>ul>li~li {
        margin-top: 4px;
    }

    #footer .gnb>ul>li>a {
        position: relative;
        display: block;
        line-height: 2.4rem;

        font-size: 0;
        width: 7rem;


    }

    #footer .gnb>ul>li>a::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: calc(100% - 2rem);
        height: 1px;
        background: #fff;

        transition: width 0.4s;
    }

    #footer .gnb>ul>li.on>a::before {
        width: 100%;
    }


    #footer .cover_btn::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: url(../lib/icon/feather/menu.svg) no-repeat center center/24px;
        filter: invert();
    }


    #footer .cover_btn.on::before {
        background: url(../lib/icon/feather/x.svg) no-repeat center center/24px;
        filter: invert();
    }

    #footer .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        gap: 8rem;
        inset: 0 0 0 0;
        background: var(--primary-color);
        z-index: 998;
        font-family: "Noto Serif KR", serif;
        display: none;

    }

    #footer .cover.on {
        display: flex;

    }

    #footer .cover ul>li>a {
        display: flex;
        align-items: center;
        gap: 16px;

        width: calc(100% + 4rem);
        color: var(--secondary-color);
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.5;
    }

    #footer .cover ul>li>a::after {
        content: "";
        flex: 1;
        height: 1px;
        background: var(--secondary-color);
    }

    #footer .ft_i {
        position: fixed;
        bottom: 20rem;
        left: 0.8rem;
        z-index: 997;
        color: var(--white-color);
        line-height: 1.6;
        text-shadow: 0 0 4px #000;
    }

    #footer .ft_i strong {
        font-size: 2rem;
        font-weight: 600;

    }

    #footer .ft_i ul>li {
        margin-top: 0.8rem;
        font-size: 1.5rem;
    }


    #footer .ft_tr {
        position: fixed;
        bottom: 20rem;
        right: 14rem;
        z-index: 997;
        color: var(--white-color);
        line-height: 1.6;
        text-shadow: 0 0 4px #000;
    }

    #footer .ft_tr strong {
        font-size: 2rem;
    }

    #footer .ft_tr p {
        margin-bottom: 0.8rem;
        font-size: 1.3rem;
    }

    #footer .ft_tr ul>li {
        margin-top: 0.8rem;
        font-size: 1.5rem;
    }

    #footer address {
        position: fixed;
        bottom: 8rem;
        left: 8rem;
        z-index: 999;

        font-size: 1.2rem;
        color: var(--white-color);
        font-family: "Noto Serif KR", serif;
    }

    #footer .to_top {
        position: fixed;
        bottom: 8rem;
        right: 8rem;
        z-index: 997;

        display: flex;
        justify-content: center;
        align-items: center;


        width: 4rem;
        height: 4rem;
        background: var(--point-color);

        display: none;
    }

    #footer .to_top.on {
        display: flex;
    }
}

@media(max-width:768px) {
    #footer {

        /*  */
        background: none
    }

    #footer::before {

        /*  */
        display: none;
    }



    #footer .cover_btn {

        /*  */

        top: 1.6rem;
        right: 0.8rem;
    }

    #footer .gnb {

        /*  */
        display: none;
    }

    #footer .ft_i {


        /*  */
        display: none;
    }


    #footer address {

        /*  */
        display: none;
    }

}