#header h1 {
    position: fixed;
    top: 8rem;
    left: 8rem;
    z-index: 999;
    text-transform: uppercase;
    font-weight: 600;
}

#header .cover_btn {
    position: fixed;
    top: 8rem;
    right: 8rem;
    z-index: 999;

    width: 4rem;
    height: 4rem;
    background: var(--secondary-color);
}

#header .cover_btn.on {
    background: var(--primary-color);
}



#header .gnb {
    position: fixed;
    top: 50%;
    right: 8rem;
    z-index: 997;
}

#header .gnb>ul>li~li {
    margin-top: 4px;
}

#header .gnb>ul>li>a {
    position: relative;
    display: block;
    line-height: 1.6rem;

    font-size: 0;
    width: 4rem;

}

#header .gnb>ul>li>a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: calc(100% - 2rem);
    height: 1px;
    background: #333;

    transition: width 0.4s;
}

#header .gnb>ul>li.on>a::before {
    width: 100%;
}


#header .cover_btn::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../lib/icon/feather/menu.svg) no-repeat center center/24px;
    filter: invert();
}


#header .cover_btn.on::before {
    background: url(../lib/icon/feather/x.svg) no-repeat center center/24px;
    filter: none;
}

#header .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0 0 0 0;
    background: var(--secondary-color);
    z-index: 998;

    display: none;

}

#header .cover.on {
    display: flex;
}

#header .cover ul>li>a {
    display: flex;
    align-items: center;
    gap: 16px;

    width: calc(100% + 4rem);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.5;
}

#header .cover ul>li>a::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--white-color);
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 141rem;
    margin: 0 auto;
    height: 100vh;
    background: var(--primary-color);
    border-left: 1px solid #333;
    border-right: 1px solid #333;

}

.intro .headline {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 0;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    width: 100%;
}

.intro .headline h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
    color: var(--secondary-color);
    font-family: "Noto Serif KR", serif;
    line-height: 1.5;
}


.intro .inner {
    display: flex;
    gap: 40px;
    margin: 0 16px;

}

.intro .inner .intro_text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}



.intro .inner .intro_text strong {
    display: block;

    text-align: center;
    font-size: 7.2rem;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 8px;
    color: var(--secondary-color);
    font-family: "Noto Serif KR", serif;

}

.intro .left {
    flex: 1;
}

.intro .left .txt {
    position: absolute;
    top: 40%;
    left: 16px;
    transform: translate(0, -30%);
    width: 50%;
    padding: 40px 16px;
    border-top: 1px solid #333;

}

.intro .left .txt p {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--secondary-color);
}

.intro .left .lf_tt {
    position: absolute;
    bottom: 0;
    padding: 40px 16px;

}

.intro .left .lf_tt p {}

.intro .right {
    flex: 1;

}

.intro .right .cs_box {

    margin-bottom: 2.4rem;
    padding: 40px 16px;
    background: #333;
}

.intro .right .cs_box p {
    color: var(--white-color);
}

.intro .right strong {
    display: block;
    text-align: center;
    font-size: 5.6rem;
    white-space: nowrap;
    letter-spacing: 1rem;
    font-family: "Noto Serif KR", serif;
    color: var(--secondary-color);
}


.portfolio {
    position: relative;
    max-width: 141rem;
    margin: 0 auto;
    overflow: hidden;
    background: var(--primary-color);
    border-left: 1px solid #333;
    border-right: 1px solid #333;

}


.portfolio .flx {
    gap: 4rem;
    margin: 0 16px;


}

.portfolio .desc {
    transform: translate(0, 4rem);
    opacity: 0;



}

.portfolio.on .desc {
    transform: translate(0, 0);
    opacity: 1;

    transition: 0.4s;
}

.portfolio .mokup {
    transform: translate(0, 4rem);
    opacity: 0;


}

.portfolio.on .mokup {
    transform: translate(0, 0);
    opacity: 1;

    transition: 0.4s 0.4s;
}

.portfolio .desc h2 {
    margin-bottom: 1.6rem;
    font-size: 4rem;
    font-weight: 600;
    padding: 2.4rem 0;
    color: var(--secondary-color);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-family: "Noto Serif KR", serif;

}



.portfolio .desc strong {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--secondary-color);
}

.portfolio .desc>p {
    margin-bottom: 4rem;
}

.portfolio .desc .desc_box {
    position: absolute;
    bottom: 0;
    padding: 24px 16px;
    background: #333;

}

.portfolio .desc span {
    display: block;
    color: #fff;

}

.portfolio .mokup strong {
    display: block;
    margin-bottom: 1.6rem;
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 600;
    padding: 2.4rem 0;
    text-transform: uppercase;
    letter-spacing: 8px;

}


.portfolio .mokup .case {
    height: 40rem;
    background: var(--secondary-color);
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

.portfolio .mokup .case img {

    transition: 2s;
}

.portfolio .mokup .case:hover img {
    transform: translate(0, calc(-100% + 40rem));

}


.portfolio .mokup ul>li {
    display: grid;
    grid-template-columns: 8rem 1fr;
    line-height: 4rem;
    border-bottom: 1px solid var(--line-color);

}

.portfolio .mokup ul>li em {
    font-weight: 700;
}

.portfolio .mokup ul>li p {
    line-height: 4rem;
}

.portfolio .mokup ul>li .color {
    display: flex;
    align-items: center;
    gap: 8px;
}


.portfolio .mokup ul>li .color span {
    font-size: 0;
    width: 16px;
    height: 16px;

    background: #333;
    border-radius: 50%;
}

.portfolio .mokup .lnk {
    display: flex;
    gap: 8px;
    margin-top: 4rem;
}


.portfolio02 .flx .mokup {
    order: -1;
}

.portfolio04 .flx .mokup {
    order: -1;
}

.training {
    max-width: 141rem;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.profile {

    max-width: 141rem;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background: var(--primary-color);
}

.profile .title {
    padding: 24px 0;
    white-space: nowrap;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}

.profile .title h2 {
    text-align: center;
    font-size: 5.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.profile .inner {
    display: flex;
    gap: 40px;
}

.profile .inner>* {
    flex: 1;
}

.profile .inner .itm strong {
    display: block;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.profile .inner .itm p {
    text-align: center;
}

#footer address {
    position: fixed;
    bottom: 8rem;
    left: 8rem;
    z-index: 999;
}

#footer .to_top {
    position: fixed;
    bottom: 8rem;
    right: 8rem;
    z-index: 997;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 4rem;
    height: 4rem;
    background: var(--point-color);

    display: none;
}

#footer .to_top.on {
    display: flex;
}